.create-acc {
    background-color: #3C4E62;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;

    img {
        position: relative;
        top: 12px;
        left: 16px;
    }

    div {
        display: inline;
        position: relative;
        left: 650px;
        color: white;
        top: 8px;
    }

    button {
        position: relative;
        top: 10px;
        right: 24px;
        width: 90px;
        height: 28px;
        float: right;
        background-color: #3FD28B;
        border-radius: 6px;

    }

    button.create-btn {
        margin-right: 16px;
    }

}

.header-field {
    margin: 24px;
    height: 56px;



    .header-menu {
        height: 32px;
        margin: 12px 16px;

        display: flex;


        .personal-menu {

            width: 250px;
            height: 32px;

            span {
                display: inline-block;
                height: 32px;
                width: 32px;
                background-color: #3FD28B;
                margin-right: 8px;
                border-radius: 100%;

                &:hover {
                    background-color: #757575;
                }

                a {
                    position: relative;
                    left: 11px;
                    top: 6px;
                    text-decoration: none;

                    font-size: 20px;
                }

            }

            a {
                text-decoration: none;
                width: 160px;
                height: 20px;
                font-size: 16px;
                position: relative;
                top: 5px;
                color: #222222;


            }

        }

        .qualification-menu {
            width: 144px;
            height: 32px;
            margin-left: 390px;
            margin-top: 0;

            span {
                display: inline-block;
                height: 32px;
                width: 32px;
                background-color: #3FD28B;
                margin-right: 8px;
                border-radius: 100%;

                &:hover {
                    background-color: #757575;
                }

                a {
                    position: relative;
                    left: 11px;
                    top: 6px;
                    text-decoration: none;

                    font-size: 20px;
                }

            }

            a {
                text-decoration: none;
                width: 160px;
                height: 20px;
                font-size: 16px;
                position: relative;
                top: 5px;
                color: #222222;


            }
        }

        .review-menu {
            position: relative;
            width: 200px;
            height: 32px;
            margin-left: auto;

            span {
                display: inline-block;
                height: 32px;
                width: 32px;
                background-color: #3FD28B;
                margin-right: 8px;
                border-radius: 100%;


                &:hover {
                    background-color: #757575;
                }

                a {
                    position: relative;
                    left: 11px;
                    top: 6px;
                    text-decoration: none;

                    font-size: 20px;
                }

            }

            a {
                text-decoration: none;
                width: 160px;
                height: 20px;
                font-size: 16px;
                position: relative;
                top: 5px;
                color: #222222;


            }


        }
    }

}




.qualification-box {
    height: 56px;
    background-color: #DBEFFF;
    margin: 24px;
    margin-top: 44px;
    box-shadow: 0px 0px 7px 2px grey;


    span {
        position: relative;
        left: 16px;
        top: 17px;
    }

    img {
        float: right;
        position: relative;
        right: 10px;
        top: 16px;
    }
}

.qualification-menu {
    background-color: #FFFFFF;
}

.percentage {
    width: 180px;
    height: 51px;
    margin-bottom: 40px;
    margin: 24px;
    border-bottom: 1px solid #213E543D;


    label {
        vertical-align: text-top;
    }

    input {
        margin-top: 12px;
        border-style: none;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;

    }


}

.head-text {
    color: #666666;
    font-size: 12px;
}

.select {
    margin-top: 12px;
    margin-right: 24px;
    padding: 5px 0px;
    color: black;
    font-family: quicksand;
    width: 652px;
    border: 0;
    border-bottom: 1px solid #213E543D;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    background-image: url("../../../../../assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0px top 50%;
    // border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.stream-box {
    display: flex;
    justify-content: space-between;
    margin: 24px;


    .degree {

        height: 51px;

    }
}

.college-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin: 24px;
}

.college-city {
    margin-top: 40px;
    width: 183px;
    height: 51px;
    border-bottom: 1px solid #213E543D;
    margin: 24px;

    input {
        border-style: none;
        margin-top: 12px;
        background-color: transparent;
        resize: none;
        outline: none;
    }

}

.qualification-menu {
    margin: 24px;
}

.applicant-box {
    height: 100px;

    background-color: #FFFFFF;
    margin: 24px;

    .applicant-type {

        width: 350px;
        height: 52px;
        margin: 24px;

        p {
            font-size: 12px;
            color: #666666;
            margin: 0;
        }

        .app-btn {
            display: flex;
            margin-top: 15px;



            .fresher-btn {

                margin-right: 24px;

                input[type="radio"] {
                    width: 20px;
                    height: 24px;
                    accent-color: #1F7A54;
                }

                span {
                    font-size: 16px;
                    color: #222222;
                    position: relative;
                    bottom: 8px;
                }
            }

            .exp-btn {

                input[type="radio"] {
                    width: 20px;
                    height: 24px;
                    accent-color: #1F7A54;
                }

                span {
                    font-size: 16px;
                    color: #222222;
                    position: relative;
                    bottom: 8px;
                }
            }

        }

    }

}

.applicant-detail {
    margin-top: 32px;
    margin: 24px;

    .tech-selector {
        margin: 24px;

        p {
            font-size: 12px;
            color: #666666;
        }

        .tech {

            margin-top: 18px;

            input[type="checkbox"] {
                width: 18px;
                height: 24px;
                accent-color: #1F7A54;
            }

            label[for="TechChecks"] {
                width: 79px;
                height: 20px;
                font-size: 16px;
                font-weight: 500;
                position: relative;
                bottom: 6px;
            }
        }
    }
}

.others {
    margin-left: 24px;
    width: 660px;
    height: 51px;
    border-bottom: 1px solid #666666;

    p {
        margin: 0;
        margin-top: 16px;
        font-size: 12px;
        color: #666666;
    }

    input[type="text"] {
        position: relative;
        top: 12px;
        border-style: none;

        background-color: transparent;
        resize: none;
        outline: none;
    }
}

.notice-periods {
    margin: 24px;
    width: 452px;
    height: 51px;


    p {
        font-size: 12px;
        color: #666666;
        margin: 0;

    }

    .radio-btn {
        margin-top: 15px;

        input[type="radio"] {
            width: 20px;
            height: 24px;
            accent-color: #1F7A54;
            margin-right: 8px;
        }


        span {
            font-size: 16px;
            color: #222222;
            position: relative;
            bottom: 8px;
            margin-right: 24px;
            font-weight: 500;
        }

    }
}


.btns {
    display: flex;
    justify-content: center;
    height: 28px;
    margin: 40px 0 160px 0;


    button {
        margin-right: 15px;
        border-style: none;
        background-color: #3FD28B;
        border-radius: 5px;
        padding: 6px 16px;
        font-size: 14px;
        color: #1F2834;
        font-weight: 550;
        font-family: quicksand;
    }
}

.notice-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;

    .info {
        width: 650px;
        height: 50px;
        border-bottom: 1px solid #666666;
        display: flex;
        flex-direction: column;
        margin-right: 24px;



        label {
            margin: 0;
            font-size: 12px;
            color: #666666;
        }



        .custom-select {
            // margin-left: 24px;
            width: 650px;
            margin-top: 20px;
            appearance: none;
            border-style: none;
            background-image: url("../../../../../assets/icons/arrow-down.svg");
            background-repeat: no-repeat;
            background-position: right;
        }
    }
}

.date-select {
    width: 650px;
    position: relative;
    top: 12px;
    // margin-top: 20px;
    appearance: none;
    // border-style: none;
    font-size: 16px;
    border-bottom: 1px solid #666666;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
}

.others-mention {
    margin-left: 24px;
    width: 660px;
    height: 51px;
    border-bottom: 1px solid #666666;

    p {
        margin: 0;
        margin-top: 16px;
        font-size: 12px;
        color: #666666;
    }

    input[type="text"] {
        position: relative;
        top: 12px;
        border-style: none;
        // border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }
}

.other {
    margin-left: 24px;
    width: 660px;
    height: 51px;
    border-bottom: 1px solid #666666;

    p {
        margin: 0;
        margin-top: 16px;
        font-size: 12px;
        color: #666666;
    }

    input[type="text"] {
        position: relative;
        top: 12px;
        border-style: none;
        // border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }
}

.notice-period {
    margin: 24px;
    width: 452px;
    height: 51px;


    label {
        font-size: 12px;
        color: #666666;
        margin: 0;

    }

    .radio-btn {
        margin-top: 15px;
        display: flex;

        input[type="radio"] {
            width: 20px;
            height: 24px;
            accent-color: #1F7A54;
            margin-right: 6px;
        }


        label {
            font-size: 16px;
            color: #222222;
            position: relative;
            bottom: 8px;
            margin-right: 24px;
            font-weight: 500;
        }

    }
}

#experienced {
    display: none;
}

.fresher-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}