<div class="create-acc">
    <img src="../../assets/icons/back.svg" alt="back arrow">
    <div>CREATE AN ACCOUNT </div>

    <button class="cancel-btn">CANCEL</button>
    <button class="create-btn">CREATE</button>



</div>
<div class="header-field">
    <div class="header-menu">

        <div class="number" routerLink="/createaccount">
            <a>1</a>
        </div>
        <div class="personal-info">Personal Information</div>


        <div class="number no-2" routerLink="/qualification">
            <a>2</a>
        </div>
        <div class="personal-info">Qualification</div>


        <div class="number no-3" routerLink="/preview">
            <a>3</a>
        </div>
        <div class="personal-info">Review and Proceed</div>




    </div>