<app-header></app-header>

<div class="headerbox">
    <span>Personal Qualification</span>
    <div class="float-right">
        <img src="../../assets/icons/pencil.png" alt="sort icon">
        <a>Edit</a>
    </div>
</div>


<main>

    <div class="names-box">
        <p>First Name*</p>
        <span>John</span>
    </div>

    <!-- <div class="profile-img">
        <img src="../../assets/icons/dp.jpg" alt="profile-pic">
    </div> -->

    <div class="names-box">
        <p>Last Name*</p>
        <span>watson</span>
    </div>
    <div class="email-box">
        <p>email*</p>
        <span>johnwatsonexample@gmail.com</span>
    </div>
    <div class="phone-box">
        <p>Phone No*</p>
        <span>+ 91 9821325632</span>
    </div>
    <div class="resume-box">
        <div>
            <img src="../../assets/icons/upload.png" alt="icon">
        </div>

        <span>UPLOAD RESUME</span>
        <span>Myresume.pdf</span>
    </div>
    <div class="portfolio-box">
        <p>Enter Portfolio URL*</p>
        <span>www.myportfolio.in</span>
    </div>
    <div class="job-box">
        <p>Preferred Job Roles</p> <br>
        <span>Intructional Designer</span>
        <span>Software Quality Engineer</span>
    </div>
    <div class="refer-box">
        <p>If you are Registering Via A refrral ,Please Mention Full Name Of The Employee Who Referred
            You.</p><br>
        <span>-</span>
    </div>
    <div class="mail-box">
        <input type="checkbox" name="" id="">
        <span>Send me job related updates via mail</span>
    </div>

</main>

<div class="headerbox">
    <span> Qualification</span>
    <div class="float-right">
        <img src="../../assets/icons/pencil.png" alt="sort icon">
        <a>Edit</a>
    </div>
</div>


<div class="qualification-box">
    <span>Education Qualification</span>
</div>

<div class="qualification-menu">
    <div class="percentage">
        <p>Aggregate Percentage*</p>
        <span>65</span>
    </div>
    <div class="percentage">
        <p>Year Of Passing*</p>
        <span>2020</span>
    </div>

    <div class="stream-box">

        <div>
            <p>Qualification</p>
            <span>Bachelor in Technology(B.Tech)</span>
        </div>

        <div>
            <p>Stream*</p>
            <span>Information Technology</span>
        </div>

    </div>



    <div class="college-box">
        <div>
            <p>College</p>
            <span>Pune Institute of Technology(PIT)</span>
        </div>

        <div>
            <p>If others ,please enter your college name</p>
            <span>-</span>
        </div>

    </div>
    <div class="college-city">
        <p>Where is your college Located?</p>
        <span>Pune</span>
    </div>
</div>


<div class="qualification-box">
    <span>Professional Qualification</span>

</div>




<div class="applicant-detail">
    <div class="hardcore-text">
        <p>Applicant Type*</p>
        <span>
            Experienced
        </span>
    </div>
    <div class="hardcore-text">
        <p>Years Of Experience</p>
        <span>
            5
        </span>
    </div>
    <div class="hardcore-text">
        <p>Current CTC(In Rupees)</p>
        <span>
            5,00,000
        </span>
    </div>
    <div class="hardcore-text">
        <p>Expected CTC(In Rupees)</p>
        <span>
            6,00,000
        </span>
    </div>

    <div class="hardcore-text">
        <p>Select All The Technologies You Expertise In</p>
        <span>
            Javascript
        </span>
    </div>
    <div class="hardcore-text">
        <p>If others,please mention</p>
        <span>
            -
        </span>
    </div>

    <div class="hardcore-text">
        <p>Select All The Technologies You Familiar In </p>
        <span>
            Angular JS
        </span>
        <br>
        <br>
        <span>
            React
        </span>
    </div>
    <div class="hardcore-text">
        <p>If others,please mention</p>
        <span>
            -
        </span>
    </div>

    <div class="hardcore-text">
        <p>Are you Currently On Notice Priod?</p>
        <span>
            Yes
        </span>
    </div>

    <div class="notice-info">
        <div>
            <p>If Yes,When Will Your Notice Period End?</p>
            <span>
                20-May-2020
            </span>
        </div>
        <div>
            <p>How long is your notice period?</p>
            <span>
                2 months
            </span>
        </div>
    </div>

    <div class="hardcore-text">
        <p>Have You Appeared For Any test By Zeus in The Past 12 Months?</p>
        <span>
            No
        </span>
    </div>

    <div class="hardcore-text">
        <p>If Yes,Which Role Did You Apply For?</p>
        <span>
            -
        </span>
    </div>
</div>


<div class="next-btn">
    <button routerLink="/qualification">
        <a>PREVIOUS</a>
    </button>
</div>